/* slideshow set to be call diapo....
      - three folder // each have their own  index ... 
      - menos idiomas 

      --- onle copy-paste form the whole html file diapo.html
*/
#gallery {
  width: 600px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 100px auto;
  border: 2px solid #003C72;
}
#navig {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
#navig li {
  padding: 0;
  margin: 0;
  margin: 5px 0 20px;
}
#navig li a img {
  display: block;
  border: none;
}
#navig li a {
  display: block;
}
#full-picture {
  width: 600px;
  height: 400px;
  overflow: hidden;
  float: left;
}
#full-picture img {
  width: 100%;
  height: 100%;
}